.color-mode-corner {
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
}

.color-mode-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .color-mode-corner:hover .octo-arm {
    animation: none;
  }

  .color-mode-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
